<%= form_with scope: :roast, url: roasts_path, local: true do |form| %>
<p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
</p>

<p>
    <%= form.submit %>
</p>
<% end %>

<p><a href="<%= roasts_path %>">List Roasts</a></p>
